*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
    font: 15px;
}

h1,
h2,
h4{
    font-weight: 800px;
}
/* utilities */

/* generali */



/* dimensioni */

.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.float-left{
    float: left;
}


/* button */

.btn{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

.btn.button-orange{
    background-color: #fe775a;
    border: 1px solid white;
    border: 0;
    color: #fff;
}

/* main header */
.main-header{
    height: 163px;
    
}
/* top header */
.main-header .top-header{
    height: 50%;
    background-color: #f4f9fd;
    border-bottom: 1px solid black;
}

.top-header .nav-left{
    width: 40%;
    padding-top: 30px;
    
}




.top-header .nav-right{
    width: 50%;
    padding-top: 15px;
    margin-left: 120px;
    text-align: right;
}

.nav-right .login.btn{
    background-color:#fff;
    border: 0;
    color: #fe775a;
    cursor: pointer;
    border: 1px solid #fe775a;
}

.main-header a{
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    color: black;
    
}

.nav-left .english{
    border-right: 2px solid #899397;
    padding-right: 15px;
}

.main-header li{
    display: inline-block;
    list-style: none;
    margin-right: 15px;
    cursor: pointer;
}




/* bottom header */
.main-header .bottom-header{
    height: 50%;
    background-color: #ffffff;
    padding-top: 30px;

}

.bottom-header .nav-right i{
    margin-left: 10px;
}

.bottom-header .nav-right a{
    margin-right: 10px;
}

.bottom-header .header-logo{
    margin-right: 450px;
}





/* section main-Jumbotron */
.main-jumbotron{
    position:relative;
}

/* jumbotron */
.main-jumbotron .jumbotron{
    height: 606px;
    background-image: url('../img/jumbotron.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jumbotron .jumbotron-box{
    text-align: left;
    width: 55%;
    margin-bottom: 40%;
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(0,-57%);
}

.jumbotron .jumbotron-box .jumbotron-but{
    padding: 20px;
    margin: 35px 0;
}

.jumbotron .jumbotron-box h1{
    font-size: 50px;
    margin-bottom: 30px;
    
}

.jumbotron .jumbotron-box p{
    font-size: 16px;
    line-height: 25px;
}

.jumbotron .jumbotron-box .sottotesto{
    font-size: 10px;
}






/* bar-jumbotron */
.main-jumbotron .bar-jumbotron{
    height: 80px;
    background-color: #afebe4;
    /* z-index: 5; */
    position: absolute;
    top: 90%;
    right: 0;
    left: 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;


}


/* section hero */
.hero{
    height: 1482px;
    background-color: #f4f9fd;
}

/* powerful-box */

.hero .powerful-box{
    text-align: center;
}

.hero .powerful-box img{
    display: inline-block;
    width: 180px;
    margin-top: 45px;

}


.hero .powerful-box h2{
    margin: 20px;
    font-weight: bold;
}

.hero .powerful-box p{
    margin: 20px;
    line-height: 30px;
    font-size: 15px;
    font-weight: 500;
    padding: 0 10%;

}


/* free hubspot crm */

.hero .hubspot-box{
    border: 2px solid #e6ecf1;
    background-color: #ffffff;
    height: 360px;
    border-radius: 1%;
    padding: 20px;
    box-shadow:  5px 8px 7px 1px #e6ecf1;
}

.hubspot-box .box-book{
    display: inline-block;
    width: 20%;
    padding: 20px;
    margin-left: 60px;
    text-align: center;
    
}

.box-book img{
    width: 145px;
    margin: 20px;
}

.box-book .learn{
    width: 160px;
    padding: 15px 0;
}
.hubspot-box .box-crm{
    display: inline-block;
    width: 70%;
}



/* section offer */
.offer{
    height: 636px;
    background-color:#00686c;
}

/* section banner */
.banner{
    height: 718px;
    background-color: #ffffff;
}

/* section main-footer */
.main-footer{
    height: 616px;
    background-color: #32495b;
}

/* footer-top */
.main-footer .footer-top{
    height: 474px;
}

/* footer-middle */
.main-footer .footer-middle{
    height: 42px;
}

/* footer-bottom */
.main-footer .footer-bottom{
    height: 144px;

}
