*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
    font: 15px;
}

h1,
h2,
h4,
h5{
    font-weight: 800;
}
/* utilities */

/* generali */

.check{
    color: white;
    background-color: #fe775a;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    padding: 4px;

}

li{ 
    display: inline-block;
    list-style: none;
    margin-right: 15px;
    cursor: pointer;
}

a{
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    color: black;
    
}


/* dimensioni */

.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}


/* button */

.btn{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

.btn.button-orange{
    background-color: #fe775a;
    border: 1px solid white;
    border: 0;
    color: #fff;
}

/* main header */
.main-header{
    height: 163px;
    
}
/* top header */
.main-header .top-header{
    height: 50%;
    background-color: #f4f9fd;
    border-bottom: 1px solid black;
}

.top-header .nav-left{
    width: 40%;
    padding-top: 30px;
    
}




.top-header .nav-right{
    width: 50%;
    padding-top: 15px;
    margin-left: 120px;
    text-align: right;
}

.nav-right .login.btn{
    background-color:#fff;
    border: 0;
    color: #fe775a;
    cursor: pointer;
    border: 1px solid #fe775a;
}




.nav-left .english{
    border-right: 2px solid #899397;
    padding-right: 15px;
}







/* bottom header */
.main-header .bottom-header{
    height: 50%;
    background-color: #ffffff;
    padding-top: 30px;

}

.bottom-header .nav-right i{
    margin-left: 10px;
}

.bottom-header .nav-right a{
    margin-right: 10px;
}

.bottom-header .header-logo{
    margin-right: 450px;
}





/* section main-Jumbotron */
.main-jumbotron{
    position:relative;
}

/* jumbotron */
.main-jumbotron .jumbotron{
    height: 606px;
    background-image: url('../img/jumbotron.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jumbotron .jumbotron-box{
    text-align: left;
    width: 55%;
    margin-bottom: 40%;
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(0,-57%);
}

.jumbotron .jumbotron-box .jumbotron-but{
    padding: 20px;
    margin: 35px 0;
}

.jumbotron .jumbotron-box h1{
    font-size: 50px;
    margin-bottom: 30px;
    
}

.jumbotron .jumbotron-box p{
    font-size: 15px;
    line-height: 25px;
}

.jumbotron .jumbotron-box .sottotesto{
    font-size: 10px;
}


/* bar-jumbotron */
.main-jumbotron .bar-jumbotron{
    height: 80px;
    background-color: #afebe4;
    /* z-index: 5; */
    position: absolute;
    top: 90%;
    right: 0;
    left: 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;


}


/* section hero */
.hero{
    height: 1482px;
    background-color: #f4f9fd;
}

/* powerful-box */

.hero .powerful-box{
    text-align: center;
}

.hero .powerful-box img{
    display: inline-block;
    width: 180px;
    margin-top: 45px;

}


.hero .powerful-box h2{
    margin: 20px;
    font-weight: bold;
}

.hero .powerful-box p{
    margin: 20px;
    line-height: 30px;
    font-size: 15px;
    font-weight: 500;
    padding: 0 10%;

}


/* free hubspot crm */

.hero .hubspot-box{
    border: 2px solid #e6ecf1;
    background-color: #ffffff;
    height: 360px;
    border-radius: 1%;
    padding: 20px;
    box-shadow:  5px 8px 7px 1px #e6ecf1;
}

.hubspot-box .box-book{
    display: inline-block;
    width: 20%;
    padding: 20px;
    margin-left: 60px;
    text-align: center;
    
}

.box-book img{
    width: 145px;
    margin: 20px;
}

.box-book .learn{
    width: 160px;
    padding: 15px 0;
    cursor: pointer;
}
.hubspot-box .box-crm{
    width: 70%;
    padding: 10px 50px;
    margin-top: 20px;
}

.hubspot-box .box-crm h3{
    margin-bottom: 20px;
    font-weight: bold;
}

.hubspot-box .box-crm p{
    line-height: 30px;
    margin: 20px 0;
    font-size: 15px;
}

.hubspot-box .box-crm hr{
    margin-left: 270px;
    position: relative;
    bottom: 31px;
}

.hubspot-box .box-crm a{
    font-size: 15px;
}

/* mss box */

.mss-box .col{
    width: 30%;
    text-align: center;
    margin-top: 40px;
    border: 2px solid #e6ecf1;
    box-shadow: 5px 8px 7px 1px #e6ecf1;
    background-color: #ffffff;
    margin-left: 60px;
    padding: 10px 30px;
    height: 653px;
    border-radius: 2%;
}

.first img{
    width: 70px;
}
.second img{
    width: 110px;
}
.third img{
    width: 65px;
}


.mss-box .col:first-child{
    margin-left: 0px;
}

.col img{
    text-align: center;
    
    
}

.col p{
    margin: 35px;
    font-size: 15px;
}

.col h3{
    margin-top: 18px;
    font-size: 16px;

}  

.col ul{
    margin: 60px 0;
}


/* section offer */
.offer{
    height: 636px;
    background: linear-gradient(46deg, #1c6b70, #02ffe6);
}

.offer-bar{
    height: 30%;
    text-align: center;
    color:whitesmoke;
    margin-bottom: 20px;
    
}

.offer-bar h2{
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
   
}

.offer-bar p{
    font-size: 13px;
}

.griglia .row{
    border-bottom: 1px solid white;
}

.griglia .row .g-box{
    color: white;
    text-align: center;
    width: 25%;
    border-right: 1px solid white;
    padding-top: 40px;
}



.row .g-box img{
    margin-bottom: 10px;
}

.row .g-box h2{
    font-size: 30px;
    margin-bottom: 20px;
    padding-right: 10px;
}

.griglia .row .g-box span{
    font-size: 20px;
    vertical-align: middle;
    padding-bottom: 5px;
    
}

.row .g-box p{
    margin-bottom: 20px;
    font-size: 10px;
}

.row:last-child{
    border-bottom: 0px;
}

.row .g-box:last-child{
    border-right: 0px;
    
}



/* section banner */
.banner{
    height: 718px;
    background-color: #ffffff;
}

.banner .leading .numbers{
    margin: 40px 70px;
    width: 22%;
    padding-right: 75px;

}

.leading .numbers h2{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;

}

.leading .numbers p{
    font-size: 14px;
    
}

.style{
    margin-top: 60px;
    width: 40%;
    margin-left: 230px;
}



.style .branding .brand-box img{
    width: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.bar-growing .growing-text{
    width: 50%;
}



.bar-growing .growing-text{
    text-align: left;
    width: 45%;
    margin-bottom: 40%;
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(0,-35%);
}

.growing-text .btn.button-orange{
    padding: 20px;
    margin: 35px 0;
}


.growing-text h2{
    font-size: 35px;
    margin-bottom: 30px;
}


.growing-text p{
    font-size: 15px;
    line-height: 25px;
}

.growing-text .sottotesto{
    font-size: 10px;
}


.bar-growing .img-growing{
    width: 50%;
    padding-left: 25%;
    margin: 33px 0;
}

.bar-growing .img-growing img{
    width: 290px;
}



/* section main-footer */
.main-footer{
    height: 616px;
    background-color: #32495b;
    
}

/* footer-top */
.main-footer .footer-top{
    height: 474px;

}

.foot-col{
    margin-right: 55px;
}

.foot-col:last-child{
    margin-right: 0;
    margin-left: 55px;
}

.foot-col h5{
    color: white;
    font-size: 15px;
    margin: 20px 0;
    padding-top: 20px;
}

.foot .foot-li{ 
    display: block;
    list-style: none;
    margin-top: 20px ;
    margin-bottom: 20px;
    cursor: pointer;
}

.foot .foot-a{
    display: block;
    text-decoration: none;
    margin-right: 20px;
    color: #cbd6e2;
    font-size: 15px;
    
}

.btn.button-white{
    background-color: #dadee0;
    border: 1px solid white;
    border: 0;
    color: #32495b;
}



/* footer-middle */
.main-footer .footer-middle{
    height: 42px;
}

/* footer-bottom */
.main-footer .footer-bottom{
    height: 100px;

}
